version: "3"

services:
  phoenix:
    build: .
#    volumes:
#      - ./src:/app
    volumes:
      - myapp:/app
    ports:
      - "4000:4000"
    depends_on:
      - db
#    command: /bin/bash -c "cd /app && mix ecto.create && mix ecto.migrate && mix phoenix.server" 
    command: sleep infinity
  db:
    image: postgres:9.5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - ./pgdata:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:4.23
    environment:
        PGADMIN_DEFAULT_EMAIL: admin@pgadmin.com
        PGADMIN_DEFAULT_PASSWORD: password
        PGADMIN_LISTEN_PORT: 80
#        PGADMIN_CONFIG_SERVER_MODE: "False"
#        PGADMIN_CONFIG_DESKTOP_USER: "pgadmin4@pgadmin.org"
    ports:
        - 15432:80
    volumes:
        - pgadmin:/var/lib/pgadmin
    depends_on:
        - db
volumes:
  myapp:
    driver: local
    driver_opts:
      type: none
      device: ./src
      o: bind
  pgadmin:
    driver: local
    driver_opts:
      type: none
      device: ./pgadmin
      o: bind

