/* This file is for your main application css. */
.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 37px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  text-transform: unset !important;
  padding: 0px !important;
  margin: 4px !important;
}
.button:hover {
  background-color: transparent !important;
  color: #333333 !important;
  text-decoration: underline !important;
}
